@import 'variables';

body {
  background: $light-grey;
}

.nav {
	border-top: .5em solid #525252;
}


img {
	width: 6em; 
	vertical-align: middle;
	padding-left: 2em;  
}


.company {
	font-family: sans-serif;
	font-size: 3em; 
	color: #083516;
	text-decoration: none;
	margin-left: .5em; 
	font-weight: 600; 
}

.links {
	font-family: sans-serif;
	font-size: 1.5em;  
	color: #525252;
	text-decoration: none;
	margin-left: .5em; 
	font-spacing: 10px; 
	font-weight: 600; 
}

.filterbox {
	border-bottom: 1px solid #d0d0d0;
	overflow:hidden;  
	padding-bottom: 1em; 

}

.left {
	display:inline-block;
	float:left; 

	.keywords {
		width: 20em;
		height: 2em; 
	}

}

h1 {
	color: #525252;
	font-size: 1em;  
}



.right {
	display: inline-block;
	float:left;    
	margin-left: .5em; 

	.location {
		width: 20em; 
		height: 2em; 
		vertical-align:top;  
	}
}

.button {
	display: inline-block;  
	float:left;  

}

.search {
	margin-left: .5em; 
	width: 12em;
	background-color: #3E9A48;
	color: #F3F1BF; 
	font-size: 1em;  
	padding: .5em 0;  
	border-radius: .5em; 
	margin-top: 2em; 
}

.jobrow {
	border-bottom: 1px solid #d0d0d0;
	overflow: hidden; 
}


.line1 {
	color: #0F331D;
	font-size:1.25em; 
}

.yesterday {
	float:right;  
}

.line2 {
	float:left;  
	font-size: 1em; 
	font-weight: 600;   
}

.bullet {
	display:inline-block;
	float:left;
}

.description {
	color: #9F9F9F;
}

.keywords > p {
 	display: inline-block;
 	float:left;
 	font-size: 1em;  
 	margin-right: .25em; 
 	padding: .25em;
 	border: 1px solid #E7E9A2;
 	background: #FAFBEA;
}


.infobox {
	background-color: #FAFBEA;
	padding:1em 0em 1em 0em;  

	.looking {
		font-size: 3em;
		font-weight: 600; 
		color: #000;   
	}

	.profile {
		font-size: 1.5em; 
		color: #393C2E;
	}

	.end {
		font-size: 1.5em; 
	}


	.features > li {
		font-size: 1.5em; 
	}


	.createprofile {
		width: 20em;
		background-color: #666666;
		color: #fff; 
		font-size: 2em;  
		padding: .5em 0;  
		border-radius: .5em; 
	}

}

.info {
	font-size: 2em; 
}


.pictureholder {
	position:relative;    
}


.featuredlogo {
	width: 16em; 
	position:absolute;
	padding-left: 14em;    
	padding-top: 10em;  
}

.featured {
	width: 40em; 
}

.max {
	color: #409A48;
	font-size: 4em;  
	margin-top: 4em;  
}

.austin {
	color: #646464;
	font-size: 2em; 
	margin: 0 auto;    
}

