@import 'variables';

body {
  background: $light-grey;
}

.nav {
	border-top: .5em solid #525252;
}


img {
	width: 6em; 
	vertical-align: middle;
	padding-left: 2em;  
}


.company {
	font-family: sans-serif;
	font-size: 3em; 
	color: #083516;
	text-decoration: none;
	margin-left: .5em; 
	font-weight: 600; 
}

.links {
	font-family: sans-serif;
	font-size: 1.5em;  
	color: #525252;
	text-decoration: none;
	margin-left: .5em; 
	font-spacing: 10px; 
	font-weight: 600; 
}

.filterbox {
	border-bottom: 1px solid #d0d0d0;
	overflow:hidden;  
	padding-bottom: 1em; 

}

.left {
	display:inline-block;
	float:left; 

	.keywords {
		width: 20em;
		height: 2em; 
	}

}

h1 {
	font-color: #525252;
	font-size: 1em;  
}



.right {
	display: inline-block;
	float:left;    
	margin-left: .5em; 

	.location {
		width: 20em; 
		height: 2em; 
		vertical-align:top;  
	}
}

.button {
	display: inline-block;  
	float:left;  

}

.search {
	margin-left: .5em; 
	width: 12em;
	background-color: #3E9A48;
	color: #F3F1BF; 
	font-size: 1em;  
	padding: .5em 0;  
	border-radius: .5em; 
	margin-top: 2em; 
}






